@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins');

.Footer{
  background: hsl(192, 100%, 9%);
  padding: 8rem 1rem 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  font-family: "Open Sans", sans-serif;
  color: hsl(193, 100%, 96%);
  gap: 3.5rem;

  .logo{
    width: 140px;
  }

  .firstContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .secondContainer{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    ul{
      font-size: 1.2rem;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 20px;

      li a{
        cursor: pointer;
        transition: all 0.2s;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    
  }

  .social-links{
    display: flex;
    flex-direction: column;
    gap:25px;
    align-items: center;

    div{
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 10%;
    
      .social-icons{
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: all 0.2s;
        
        &:hover{
          color: rgb(255, 82, 191);
        }
      }
    }
    small{
     font-size: 10.5px;
    }

    @media screen and (min-width: 700px){
      justify-content: space-between;
      div{
        justify-content: flex-start;
      }
    }
  }
  
  
  @media (min-width: 700px){
    padding: 8rem 6rem 2rem 6rem;
    grid-template-columns: 1.5fr 0.8fr 0.8fr 0.9fr;

    .firstContainer{
      grid-column-start: 1;
      grid-column-end: 2;
    }

    .secondContainer{
      grid-column-start:2;
      grid-column-end:4;

      grid-template-columns: 1fr 1fr;
      ul{
        grid-column-start: 1;
        grid-column-end: 2;
      }
      #second{
        grid-column-start: 2;
        grid-column-end: 3;
      }
    }

    .secial-links{
      grid-column-start:4;
    }
  }


}